* {
  background-color: black;
}
p {
  color: lightcyan;
  background-color: darkblue;
  border: yellow 5px solid;
  width: 350px;
  height: 18px;
  text-align: center;
}

header {
  color: greenyellow;
  size: 25px;
}

footer {
  color: greenyellow;
  size: 25px;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

li {
  color:white;
  border: green 3px solid;
  background-color: black;
  width: 300px;
  text-align: center
}